@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik+Scribble&display=swap');


:root {
    --preto--: black;
    --branco--: white;
    --azul-header--: #7ABBE0;
    --font-titulo--: 'Rubik Scribble', 'system-ui';
    --azul-body--: #55749E;
    --laranja-texto: #E68B35;
    --azul-botao: #1D459E;
}

body {
    box-sizing: border-box;
    background-color: var(--azul-body--);
}

.header {
    margin-top: 0%;
    background-color: var(--azul-header--);
    height: 5rem;
}

.header__box {
    display: flex;
    justify-content: center;
}

.header__texto {
    text-align: center;
    color: var(--branco--);
    margin-top: 1rem;
    font-size: 3rem;
    font-family: var(--font-titulo--);
    font-weight: 400;
}

.navegacao {
    margin: 10% 5%;
}

.texto-chute {
    font-size: 5rem;
    color: var(--laranja-texto);
    width: 50%;
}

.input {
    height: 4rem;
    width: 20rem;
    background-color: var(--azul-header--);
    border-radius: 1rem;
    border-color: var(--laranja-texto);
    font-size: 3rem;
    text-align: center;
    color: var(--branco--);
    font-weight: 700;
}

.botoes__block {
    background-color: var(--azul-botao);
    width: 8rem;
    height: 3rem;
    border-radius: 2rem;
}

.botoes {
    margin-left: 2%;
    margin-top: 1%;
}

.resultado {
    margin-top: 5%;
    font-size: 2rem;
    color: var(--preto--);
}


@media (max-width: 630px) {
    .header {
        height: 7rem;
    }
    .texto-chute {
        font-size: 4.5rem;
    }
}

@media (max-width: 400px) {
    .header {
        height: 10rem;
    }
    .texto-chute {
        font-size: 3rem;
    }
    .input {
        width: 10rem;
    }
    .botoes__block {
        width: 5rem;
    }
    .resultado {
        font-size: 1.5rem;
    }
}